body{
    /* background-image: url(/auto_image/image/2.jpg); */
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: #000;
}
.progress{
    margin:200px auto;
}
.progress img{
    width: 50px;
    margin-bottom: 20px;
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}
ul li .fa{
    background: rgb(185, 170, 170);
    width: 16px;
    height: 16px;
    color: fff;
    border-radius: 50%;
    padding: 3px;
}
ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 200px;
    display: block;
    position: absolute;
    left: 0px;
    top:79px;
    z-index: -1;
}
ul li:nth-child(1) .fa,
ul li:nth-child(2) .fa{
    background: red;
}
ul li:nth-child(1) .fa::after,
ul li:nth-child(2) .fa::after{
    background: red;
}
ul li:nth-child(3) .fa {
    background: rgb(202, 202, 20);
}
ul li:nth-child(3) .fa::after{
    background: yellow;
}
ul li:nth-child(4) .fa,
ul li:nth-child(5) .fa{
    background: green;
}
ul li:nth-child(4) .fa::after,
ul li:nth-child(5) .fa::after{
    background: green;
}

ul li:first-child .fa::after{
    width: 105px;
    left: 95px;
}
ul li:last-child .fa::after{
    width: 105px;
    
}