@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section{
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.swiper mySwiper{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
  }
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: auto;
  background: #fff;
}

.textbox-1 {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 100px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.textbox-1 .quote{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
    width: 100px;
}

.textbox-1 .details{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.textbox-1 .details .imageBox{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.textbox-1 .details .imageBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textbox-1 .details h3{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}
.textbox-1 .details h3 span{
    font-size: 20px;
    color: #000;
}

